{% extends 'webapp/base.html' %}
{% block title %}
  Register
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 mb-3">
            <h1 class="font-monospace text-dark text-center">Register Here</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-sm-6 mb-3">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-12">
                        <h5>NEW CUSTOMERS</h5>
                        <hr>
                        <p>Creating an account has many benefits: check out faster, keep more than one address, track
                            orders and
                            more.</p>
                        <a href="/accounts/register" style="margin-left: 28%;" class="btn btn-outline-dark border border-dark text-uppercase">create an account</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 ">
                        <a href="#" class="text-uppercase btn btn-primary btn-sm-sm my-2"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                <path
                                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                            </svg> &verbar; Sign in with Facebook</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="text-uppercase btn btn-danger btn-sm-sm my-2"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                <path
                                    d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                            </svg> &verbar; Sign in with Google</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 mb-3">
            <h5>REGISTER YOURSELF</h5>
            <hr>
            <p>If you don't have an account, register with your new username.</p>
            <div class="border rounded-3 border-dark px-3">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <table class="table table-borderless table-hover">
                        <tr>
                            <td>
                                {{form.as_table}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-end">
                                <input type="submit" class="font-monospace text-uppercase btn btn-dark text-white" value="Register">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        
    </div>
    <!-- <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 border rounded-3 border-dark text-secondary ">
            <form action="" method="post">
                {% csrf_token %}
                <table class="table table-borderless table-hover">
                    <tr>
                        <td>
                            {{form.as_table}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-end">
                            <input type="submit" class="text-uppercase btn btn-dark text-white" value="Register">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div> -->
</div>
{% endblock content %}